<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard Page
    </title>

    <meta charset='utf-8' />

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/dashboard.css' rel='stylesheet' />

    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
    <div class="page page--dashboard">
        <aside class="page__aside aside vertial vertical--big">
            <div class="aside__logo">
                Sidebar
            </div>
            <nav class="vertical mt-24 vertical--small">
                <a href="#" class="nav-button nav-button--active click">
                    <img src="/svg/nav/home.svg" alt="" class="icon nav-button__icon" />
                    <span class="text text--white">Home</span>
                </a>
                <a href="#" class="nav-button click">
                    <img src="/svg/nav/orders.svg" alt="" class="icon nav-button__icon" />
                    <span class="text text--white">Orders</span>
                </a>
                <a href="#" class="nav-button click">
                    <img src="/svg/nav/products.svg" alt="" class="icon nav-button__icon" />
                    <span class="text text--white">Products</span>
                </a>
            </nav>
            {{!-- <div class="field__block click">
                <div class="field field-select">
                    <span class="text text--white">Choose...</span>
                </div>
                <select class="field__select" name="country" id="1">
                    <option value="USA">United States of America</option>
                    <option value="UKR">Ukraine</option>
                    <option value="CAN">Canada</option>
                    <option value="FRA">France</option>
                    <option value="ENG">United Kingdom</option>
                    <option value="ESP">Spain</option>
                </select>
            </div> --}}
        </aside>
        <header class="header">
            <div class="layout header_content">
                <div class="header__search">
                    <input placeholder="Search" type="text" class="text field field--header">
                    <img src="/svg/header/search.svg" alt="Search" class="icon header__icon-search" />
                    <span class="header__icon-settings icon--button icon--color-blue click"><img
                            src="/svg/header/settings.svg" alt="Settings" class="icon" /></span>
                </div>
                <div class="icon-list">
                    <div class="icon header__icon-signal icon--button icon--color-yellow click">
                        <img src="/svg/header/signal.svg" alt="Signal" class="icon" />
                    </div>
                    <div class="icon header__icon-translate icon--button icon--color-blue-light click">
                        <img src="/svg/header/translate.svg" alt="Signal" class="icon" />
                    </div>
                    <div class="icon header__icon-notifications icon--button icon--color-yellow click">
                        <img src="/svg/header/notifications.svg" alt="Notifications" class="icon" />
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="layout">
                <section class="box analytic__block ">
                    <div class="analytic analytic--purple analytic--double card--vertical">
                        <div class="icon icon--button analytic__icon icon--color-purple click">
                            <img src="/svg/main/analytic/money.svg" alt="Money" class="icon" />
                        </div>
                        <div class="analytic__content vertical vertical--small">
                            <div class="analytic__title text text--white">$500.00</div>
                            <div class="analytic__info text text--gray-white">Total earning</div>
                            <div class="icon analytic__arrow click">
                                <img src="/svg/main/analytic/arrow.svg" alt="Arrow" class="icon" />
                            </div>
                        </div>
                    </div>
                    <div class="analytic analytic--blue analytic--double card--vertical">test</div>
                    <div class="analytic analytic--blue card--horizontal">test</div>
                    <div class="analytic card--horizontal">test</div>
                </section>
            </div>
        </main>
    </div>
</body>

</html>