<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard Page
    </title>

    <meta charset='utf-8' />

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/dashboard.css' rel='stylesheet' />

    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
    <div class="page page--dashboard">
        <aside class="page__aside aside vertial vertical--big">
            <div class="aside__logo">
                Sidebar
            </div>
            <nav class="vertical mt-24 vertical--small">
                <a href="#" class="nav-button nav-button--active click">
                    <img src="/svg/nav/home.svg" alt="" class="icon nav-button__icon" />
                    <span class="text text--white">Home</span>
                </a>
                <a href="#" class="nav-button click">
                    <img src="/svg/nav/orders.svg" alt="" class="icon nav-button__icon" />
                    <span class="text text--white">Orders</span>
                </a>
                <a href="#" class="nav-button click">
                    <img src="/svg/nav/products.svg" alt="" class="icon nav-button__icon" />
                    <span class="text text--white">Products</span>
                </a>
            </nav>
        </aside>
        <header class="header">
            <div class="layout header_content">
                <div class="header__search">
                    <input placeholder="Search" type="text" class="text field field--header">
                    <img src="/svg/header/search.svg" alt="Search" class="icon header__icon-search" />
                    <span class="header__icon-settings icon--button icon--color-blue click"><img
                            src="/svg/header/settings.svg" alt="Settings" class="icon" /></span>
                </div>
                <div class="icon-list">
                    <div class="icon header__icon-signal icon--button icon--color-yellow click">
                        <img src="/svg/header/signal.svg" alt="Signal" class="icon" />
                    </div>
                    <div class="icon header__icon-translate icon--button icon--color-blue-light click">
                        <img src="/svg/header/translate.svg" alt="Signal" class="icon" />
                    </div>
                    <div class="icon header__icon-notifications icon--button icon--color-yellow click">
                        <img src="/svg/header/notifications.svg" alt="Notifications" class="icon" />
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="layout mhg">
                <section class="box analytic__block">
                    <div class="analytic analytic--purple analytic--double card--vertical">
                        <div class="icon icon--button analytic__icon icon--color-purple click">
                            <img src="/svg/main/analytic/money.svg" alt="Money" class="icon" />
                        </div>
                        <div class="analytic__content vertical vertical--small">
                            <div class="analytic__title text text--white">$500.00</div>
                            <div class="analytic__info text text--gray-white">Total earning</div>
                            <div class="icon analytic__arrow click">
                                <img src="/svg/main/analytic/arrow.svg" alt="Arrow" class="icon" />
                            </div>
                        </div>
                    </div>
                    <div class="analytic analytic--blue analytic--double card--vertical">
                        <div class="icon icon--button icon--color-blue click">
                            <img src="/svg/main/analytic/order.svg" alt="Order" class="icon analytic__icon" />
                        </div>
                        <div class="analytic__content vertical vertical--small">
                            <div class="analytic__title text text--white">$961</div>
                            <div class="analytic__info text text--gray-white">Total Order</div>
                        </div>
                    </div>
                    <div class="analytic analytic--blue card--horizontal">
                        <div class="icon icon--button icon--color-blue click">
                            <img src="/svg/main/analytic/money.svg" alt="Money" class="icon analytic__icon" />
                        </div>
                        <div class="analytic__content vertical vertical--small">
                            <div class="analytic__title-sm text text--white">$203k</div>
                            <div class="analytic__info text text--gray-white">Total Income</div>
                        </div>
                    </div>
                    <div class="analytic analytic--white card--horizontal">
                        <div class="icon icon--button icon--color-yellow click">
                            <img src="/svg/main/analytic/shop.svg" alt="Shop" class="icon analytic__icon" />
                        </div>
                        <div class="analytic__content vertical vertical--small">
                            <div class="analytic__title-sm text">$203k</div>
                            <div class="analytic__info text text--gray-black">Total Income</div>
                        </div>
                    </div>
                </section>
                <section class="main__checkout">
                    <div class="purchase__block box">
                        <div class="purchase__title text">Purchase list</div>
                        <hr class="divider">
                        <div class="purchase">
                            <div class="purchase__list_item">
                                <div class="purchase__up">
                                    ID437661
                                </div>
                                <div class="purchase__down">
                                    May 11, 2023, 14:21
                                </div>
                            </div>
                            <div class="purchase__list_item">
                                <div class="purchase__up">
                                    AirOn ProCam
                                </div>
                                <div class="purchase__down">
                                    7/8 USB Type-C
                                </div>
                            </div>
                            <div class="purchase__list_item">
                                <div class="purchase__up">
                                    132.32 EUR
                                </div>
                                <div class="purchase__down color--warning">
                                    Not paid
                                </div>
                            </div>
                            <div class="purchase__list_item">
                                <div class="purchase__up">
                                    Customer
                                </div>
                                <div class="purchase__down">
                                    robin@com.de
                                </div>
                            </div>
                        </div>
                        <hr class="divider">
                        <div class="purchase">
                            <div class="purchase__list_item">
                                <div class="purchase__up">
                                    ID437661
                                </div>
                                <div class="purchase__down">
                                    May 11, 2023, 14:21
                                </div>
                            </div>
                            <div class="purchase__list_item">
                                <div class="purchase__up">
                                    PHILIPS Essential
                                </div>
                                <div class="purchase__down">
                                    HD9200/90
                                </div>
                            </div>
                            <div class="purchase__list_item">
                                <div class="purchase__up">
                                    543 USD
                                </div>
                                <div class="purchase__down color--success">
                                    Pay by Stripe
                                </div>
                            </div>
                            <div class="purchase__list_item">
                                <div class="purchase__up">
                                    Customer
                                </div>
                                <div class="purchase__down">
                                    dima@com.ua
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="payment__block box">
                        <div class="purchase__title text">Payment</div>
                        <hr class="divider">
                        <div class="payment__radio">

                            <div class="radio__item">
                                <input class='radio__input' type='radio' name='radio' id='debit' value='debit' />
                                <div class='radio__circle'></div>
                                <label for='debit' class='text radio__label'>Credit card</label>
                            </div>

                            <div class="radio__item">
                                <input class='radio__input' type='radio' name='radio' id='debit' value='debit' />
                                <div class='radio__circle'></div>
                                <label for='debit' class='text radio__label'>Debit card</label>
                            </div>

                            <div class="radio__item">
                                <input class='radio__input' type='radio' name='radio' id='debit' value='debit' />
                                <div class='radio__circle'></div>
                                <label for='debit' class='text radio__label'>PayPal</label>
                            </div>
                        </div>
                        <div class="payment__input">
                            <div class="payment__input-item">
                                <label for="payment__input-label">Name on card</label>
                                <input class="field" type="text">
                            </div>
                            <div class="payment__input-item">
                                <label for="payment__input-label">Credit card number</label>
                                <input class="field" type="text">
                            </div>
                            <div class="payment__input-item">
                                <label for="payment__input-label">Expiration</label>
                                <input class="field" type="text">
                            </div>
                            <div class="payment__input-item">
                                <label for="payment__input-label">CVV</label>
                                <input class="field" type="text">
                            </div>
                        </div>
                        <hr class="divider">
                        <div class="payment__select">
                            <div class="field__block">
                                <label for="1">Country</label>
                                <div class="click">
                                    <div class="field field-select">
                                        <span class="text text--black">Choose...</span>
                                    </div>
                                    <select class="field__select" name="country" id="1">
                                        <option value="USA">United States of America</option>
                                        <option value="UKR">Ukraine</option>
                                        <option value="CAN">Canada</option>
                                        <option value="FRA">France</option>
                                        <option value="ENG">United Kingdom</option>
                                        <option value="ESP">Spain</option>
                                    </select>
                                    <div class="select__icon">
                                        <img src="/svg/main/select.svg" alt="Select">
                                    </div>
                                </div>
                            </div>
                            <div class="field__block">
                                <label for="2">State</label>
                                <div class="click">
                                    <div class="field field-select">
                                        <span class="text text--black">Choose...</span>
                                    </div>
                                    <select class="field__select" name="state" id="2">
                                        <option value="USA">Ivano Frankivsk</option>
                                        <option value="UKR">Zhytomyr</option>
                                        <option value="CAN">Kyiv</option>
                                        <option value="FRA">Khmelnytskyi</option>
                                        <option value="ENG">Dnipro</option>
                                        <option value="ESP">Odesa</option>
                                    </select>
                                    <div class="select__icon">
                                        <img src="/svg/main/select.svg" alt="Select">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="divider">
                        <button class="payment__btn click text--white">Continue to checkout</button>
                    </div>
                </section>
            </div>
        </main>
    </div>
</body>

</html>