<div class="page">
  <div class="title__container">
    <h1 class="nav__title">Navigation</h1>
  </div>
  <section class="container">
    <div class="nav_item">
      <a href="/template-1" class="nav_link">Template 1</a>
    </div>
    <div class="nav_item">
      <a href="/template-2" class="nav_link">Template 2</a>
    </div>
    <div class="nav_item">
      <a href="/template-3" class="nav_link">Template 3</a>
    </div>
    <div class="nav_item">
      <a href="/template-4" class="nav_link">Template 4</a>
    </div>
    <div class="nav_item">
      <a href="/template-5" class="nav_link">Template 5</a>
    </div>
    <div class="nav_item">
      <a href="/template-6" class="nav_link">Template 6</a>
    </div>
    <div class="nav_item">
      <a href="/template-7" class="nav_link">Template 7</a>
    </div>
    <div class="nav_item">
      <a href="/slack" class="nav_link">Slack</a>
    </div>
    <div class="nav_item">
      <a href="/dashboard" class="nav_link">Dashboard</a>
    </div>
  </section>
</div>