<!DOCTYPE html>
<html>

<head>
    <title>
        Slack Page
    </title>

    <meta charset='utf-8' />

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/slack.css' rel='stylesheet' />

    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
    <div class="page">
        <section class="page_section">
            <div class="page_content">
                <div class="hero">
                    <div class="hero_content">
                        <div class="hero_label">slack features</div>
                        <h1 class="hero_title">One platform for your team and your work</h1>
                        <p class="hero_info double_line">All the features of Slack work together so you can, too.</p>
                        <div class="hero_buttons">
                            <a href="#" class="click button button_primary">try for free</a>
                            <a href="#" class="click button button_secondary">see all features</a>
                        </div>
                    </div>
                    <img src="/img/hero.png" alt="hero_img" class="hero_img">
                </div>
                <div class="partners">
                    <img src="/img/partners/airbnb.png" alt="airbnb" class="partners_img">
                    <img src="/img/partners/target.png" alt="target" class="partners_img">
                    <img src="/img/partners/uber.png" alt="uber" class="partners_img">
                    <img src="/img/partners/onemedical.png" alt="onemedical" class="partners_img">
                    <img src="/img/partners/newscorp.png" alt="newscorp" class="partners_img">
                    <img src="/img/partners/va.png" alt="va" class="partners_img">
                    <img src="/img/partners/intuit.png" alt="intuit" class="partners_img">
                    <img src="/img/partners/sonos.png" alt="sonos" class="partners_img">
                </div>
            </div>
        </section>
        <section class="page_section page_section_light">
            <div class="page_content features_section">
                <h2 class="features_title">Work more easily with everyone</h2>
                <p class="features_description double_line">Stay on the same page and make decisions faster by bringing
                    all of your
                    work communication into one place</p>

                <div class="features_grid_4">

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/connect.svg') ;"></span>
                        <strong class="feat_card_title">Slack Connect</strong>
                        <p class="double_line">Collaborate with teams at other companies the same way you do
                            with
                            teams at your own</p>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon"
                            style="background-image: url('/svg/feature/channels.svg') ;"></span>
                        <strong class="feat_card_title">Channels</strong>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/huddles.svg') ;"></span>
                        <strong class="feat_card_title">Huddles</strong>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/clips.svg') ;"></span>
                        <strong class="feat_card_title">Clips</strong>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/canvas.svg') ;"></span>
                        <strong class="feat_card_title">Canvas</strong>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon"
                            style="background-image: url('/svg/feature/messaging.svg') ;"></span>
                        <strong class="feat_card_title">Messaging</strong>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/access.svg') ;"></span>
                        <strong class="feat_card_title">Accessibility</strong>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>
                </div>
            </div>
            <div class="page_content advantages_section">
                <div class="advantages_text_sec">
                    <h3 class="advantages_title">What you need, when you need it</h3>
                    <p class="advantages_description double_line">Spend less time shuffling tabs with a comprehensive
                        message archive and
                        all your work tools at your fingertips.</p>
                </div>
                <div class="advantages_grid">
                    <div class="adv_card">
                        <span class="icon adv_icon" style="background-image: url('/svg/advantages/apps.svg') ;"></span>
                        <strong class="adv_card_title">Apps and Integrations</strong>
                        <p class="double_line">Streamline work by connecting
                            Slack with other services like
                            Google Drive, Office 365 and
                            over 2,200 more.</p>
                        <a href="#" class="icon icon_arrow adv_link click"></a>
                    </div>
                    <div class="adv_card">
                        <span class="icon adv_icon" style="background-image: url('/svg/advantages/bolt.svg') ;"></span>
                        <strong class="adv_card_title">Workflow Builder</strong>
                        <p class="double_line">Automate routine actions and
                            communication, so you can get
                            back to the kind of work only
                            humans can do.</p>
                        <a href="#" class="icon icon_arrow adv_link click"></a>
                    </div>
                    <div class="adv_card">
                        <span class="icon adv_icon"
                            style="background-image: url('/svg/advantages/search.svg') ;"></span>
                        <strong class="adv_card_title">Search</strong>
                        <a href="#" class="icon icon_arrow adv_link click"></a>
                    </div>
                    <div class="adv_card">
                        <span class="icon adv_icon"
                            style="background-image: url('/svg/advantages/sharing.svg') ;"></span>
                        <strong class="adv_card_title">File sharing</strong>
                        <a href="#" class="icon icon_arrow adv_link click"></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>