:root {
    --space-m: 12px;
    --space-l: 24px;

    --color-border:  #dee2e6; 
    --color-white: #fff;    
    --color-primary: rgb(46, 46, 194);
    --color-d: #5a5a5a;
    --color-title: #212529;
    --color-text: #343a40;

    --border-radius: 12px;

    --weight-title: 500;
    --weight-text: 400;

    --page-width: 1000px;
}

/* ========================== */

.page {
    background: var(--color-white);
    padding: 0 15px;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
}

.page_content {
    width: var(--page-width);
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* ========================== */

.header {
    padding: var(--space-l) 0;
    border-bottom: 1px solid var(--color-border);

    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 17px;

    background:var(--color-primary);
    color: var(--color-white);

    height: 24px;
    width: 24px;

    border-radius: calc(var(--border-radius)/ 2 );

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
}

.nav_link {
    color: var(--color-text);
    font-size: 16px;
    text-decoration: none;
}

.nav_link:hover {
    text-decoration: underline;
    color: var(--color-primary)
}

.nav_inline {
    gap: var(--space-l);
}

.nav_vertical {
    gap: var(--space-m);
    flex-direction: column;
}

.footer {
    padding: var(--space-l) 0;

    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.copyright {
    font-family: 'Roboto';
    font-style: normal;
    font-weight:  var(--weight-text);
    font-size: 12.8px;
    line-height: 15px;
    color: var(--color-text);

    display: block;

    margin-top: var(--space-m);
}

.footer_title {
    font-size: 20px;
    color: var(--color-title);

    display: block;

    margin-bottom: var(--space-m);

    font-weight: var(--weight-title);
}

.main {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info_title {
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    color: var(--color-title);
}

.info_description {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--color-title);
    width: 412px;
}

.form {
    max-width: 394px;
    width: 100%;
    background-color: var(--color-white);
    background: #F8F9FA;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 48px 60px;
    gap: var(--space-l);
}

.form_title {
    text-align: center;
    font-size: 24px;
    font-weight: var(--weight-text);
    color: var(--color-title);
}

.form_info {
    text-align: center;
    font-size: 16px;
    font-weight: var(--weight-text);
    color: #767676;
}

.border {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-border);
}

.form_button {
    text-align: center;
    padding: 12px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: calc(var(--border-radius)/3);
    transition: opacity 0.7s;
}

.form_button:hover {
    opacity: 0.7;
}

.form_button:active {
    background-color: #1b3ac2ce;
}

.form_input_list {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.form_input {
    padding: 16px;
    border: 1px solid #ced4da;
    border-radius: calc(var(--border-radius)/3);
}

.form_input::placeholder {
    color: var(--color-title);
    font-size: 14px;
}

.form_checkbox {
    display: flex;
    gap: 8px;
    align-items: center;
}

.form_checkbox > input {
    border: 1px solid #767676;
    border-radius: 4px;
}

.form_checkbox > label {
    color: var(--color-title);
    font-size: 14px;
}

.updates {
    padding: 24px;
}

.updates_title {
    font-weight: 400;
    font-size: 24px;
    line-height: 19px;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 24px;
}

.list_item {
    border-bottom: 1px solid var(--color-border);
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.updates_img {
    max-width: 32px;
    max-height: 32px;
}

.list_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nickname {
    text-transform: lowercase;
    color: #6C757D;
    font-weight: 700;
    font-size: 12.8px;
    line-height: 16px;
}

.nickname::before {
    content: '@';
}

.list_description {
    font-weight: 400;
    font-size: 16px;
    color: #6C757D;
}

.show_all_cont {
    padding-top: 24px;
}

.experience {
    position: relative;
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    gap: 24px;
}

.exp_container {
    margin: 26px 24px;
}
.exp_hot-title {
    flex: none;
    order: 0;
    flex-grow: 0;
}

.exp_title {
    padding: 0px;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    padding-bottom: 24px;
}

.badge {
    position: absolute;
    width: 90px;
    height: 53px;
    top: -17px;
    left: 936px;

    align-items: center;
    padding: 12px 24px;

    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    background: #FF7347;
    border-radius: 70px;
    transform: rotate(30deg);
    color: var(--color-white);
    align-items: center;
}

.exp_list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.exp_list_item {
    background-color: var(--color-title);
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.exp_name {
    color: var(--color-white);
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.exp_details {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #B1B1B1;
}
