<header class="block_content">
    <div class="header">
        <div class="logo">Logo</div>

        <nav class="header_nav">
            {{#with header}}
            {{> nav list=links isVertical=false}}
        </nav>
    </div>
    <div class="ad">
        <div class="ad_block">
            <div class="ad_title">Ad</div>
            <span class="ad_text">{{ad.text}}:</span>
            <span class="ad_text ad_url">{{ad.url}}</span>
        </div>
        <div class="useronline_block">
            <div class="useronline">Users Online: {{userOnline}}</div>
        </div>
        {{/with}}
    </div>
</header>